@import "tailwindcss";

@theme {
  --color-card-light: #f9f9f9;
  --color-card-dark: #2d3748;
  --shadow-card: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-custom {
  background-color: var(--color-card-light);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-card);
}

.dark .card-custom {
  background-color: var(--color-card-dark);
}